.wrapper {
  display: flex;
}

.side_bar_content {
  width: 300px;
  height: 100vh;
  background-color: #253141;

}

.side_bar_header {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user_name a {
  font-size: 16px;
  color: #fafafa;
  text-decoration: none;
}

.create_room {
  font-size: 10px;
}

.create_room a {
  color: deepskyblue;
  padding: 14px;
  border: 1px solid lightblue;
  text-decoration: none;
}


.rooms {
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0px 40px;
}

.room_name a {
  color: white;
  text-decoration: none;
}

.main_chat_content {
  width: calc(100% - 300px);
  background-color: #ffffff;
}

.main_chat_header {
  height: 100px;
  padding: 0 40px;

}

.messages {
  background-color: #fafafa;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
}

.form {
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
}